/_ReSharper.Caches
/.idea/
/RayHelper/RayHelper/bin
/RayHelper/RayHelper/obj
/RayHelper/RayHelper.Android/bin
/RayHelper/RayHelper.Android/obj
/RayHelper/RayHelper.iOS/bin
/RayHelper/RayHelper.iOS/obj
/.vs/RayHelper
/RayHelper/.idea/.idea.RayHelper/.idea
/RayHelper.sln.DotSettings.user
